#skills {
    background: var(--Light-Grayish-Blue-Color);
}

#skills .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

@media (max-width:1100px) {
    #skills .skills-container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    #skills .wrapper {
        width: 100%;
        display: flex;
    }


@media (max-width:650px) {

    #skills .skills-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    #skills {
        padding-bottom: 55px;
    }
}