header {
    background: var(--Very-Light-Gray_color);
    overflow: hidden;
    position: relative;
}

header .header-container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
}

/**************** LEFT ******************/
header .left h1 {
    color: var(--Dark-Blue-Color);
    font-size: 56px;
    font-weight: 400;
    padding-top: 180px;
}

header .left p {
    color: var(--Grayish-Blue-Color);
    max-width: 450px;
    padding-top: 40px;
}

.btn-container {
    padding-top: 40px;
    padding-bottom: 170px;
}

header .left {

    width: 100%;
}

/***************** RIGHT ****************/

header .right {
    width: 100%;
    position: relative;
}

.bgIntroDesktop {
    position: absolute;
    left: -88px;
    top: -260px;
}

.bgIntroMobile {
    display: none;
}

.imgMockups-layer {
    position: absolute;
    margin-top: 80px;
    right: 0px;
    top: 0;
    overflow: hidden;
}

.imgMockups {
    position: relative;
    top: -125px;
    right: -135px;
}

.imgMockupsMobile {
    display: none;
}


/**************** TABLET *******************/
@media (max-width:1100px) {
    header .header-container {
        flex-direction: column;
        padding: 0 0 0 25px;
    }

    header .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .left h1 {
        padding-top: 40px;
    }

    header .left p {
        padding-top: 20px;
        text-align: center;
    }

    .btn-container {
        padding-bottom: 96px;
    }

    .right {
        order: -1;
        flex: 1;
        display: flex;
        min-height: 50vh;
        overflow: hidden;
    }

    .bgIntroDesktop {
        left: 50px;
        top: -70px;
        width: 900px;
    }

    .imgMockupsMobile {
        display: block;
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
    }

    .imgMockups {
        display: none;
    }

}

/**************** PHONE *******************/
@media (max-width:770px) {
    header .header-container {
        flex-direction: column;
    }

    .right {
        order: -1;
    }

    header .left h1 {
        padding-top: 30px;
        font-size: 38px;
    }

    header .left p {
        padding-top: 18px;
        text-align: center;
        font-size: 15px;
        line-height: 1.4rem;
    }

    .right {
        min-height: 33.5vh;
    }

    .bgIntroDesktop {
        left: -90px;
        top: -150px;
        width: 700px;
    }
    header .header-container {
        padding: 0;
    }

}

@media (max-width:450px) {
    .imgMockupsMobile {
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
    }
}