nav {
    display: flex;
    background: var(--White-Color);
    height: 80px;
    width: 100%;
    z-index: 100;
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .wrapper ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: var(--Grayish-Blue-Color);
    font-size: 14px;
    padding: 30px 0;
    position: relative;

}

nav ul li a::after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 100%;
    height: 4px;
    opacity: 0;
}

nav ul li a:hover {
    color: var(--Dark-Blue-Color);
}

nav ul li a:hover::after {
    opacity: 1;
}


nav .wrapper .logo {
    padding-top: 10px;
}

.iconHamburguer {
    display: none;
}

.iconClose {
    display: none;
}

.mobile {
    display: none;
}



@media (max-width:770px) {

    .iconHamburguer {
        display: block;
    }

    .iconClose {
        display: block;
    }

    .mobile.inactive {
        display: none;
    }

    nav {
        height: 64px;
        position: relative;
    }

    nav .wrapper .desktop {
        display: none;
    }

    nav .wrapper .logo {
        padding-top: 0px;
    }

    .mobile {
        display: block;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 86px;
        background: var(--Light-Grayish-Blue-Color);
        width: unset;
        left: 25px;
        right: 25px;
        align-items: center;
        border-radius: 5px;
        gap: 24px;
        padding: 30px 0;
        box-shadow: 0 0 0 1000vh rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    .mobile a {
        color: var(--Dark-Blue-Colo);
    }
}

.inactive {
    display: none;
}